@model IEnumerable<Khobzatna.Models.OperationType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInMenu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsInMenu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OperationTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OperationTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationTypeId })
        </td>
    </tr>
}

</table>
